<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Volumes/GoogleDrive/My Drive/website/blog/eclipse2017/images/ss201-11-05_16-07-03.png</key>
	<data>
	Ym9va+QDAAAAAAQQMAAAALJxkHppvwheorGGa9B2KjnLUCPdXeMoMStbJkGn6Yn3EAMA
	AAQAAAADAwAAAAgAKAcAAAABAQAAVm9sdW1lcwALAAAAAQEAAEdvb2dsZURyaXZlAAgA
	AAABAQAATXkgRHJpdmUHAAAAAQEAAHdlYnNpdGUABAAAAAEBAABibG9nCwAAAAEBAABl
	Y2xpcHNlMjAxNwAGAAAAAQEAAGltYWdlcwAAGAAAAAEBAABzczIwMS0xMS0wNV8xNi0w
	Ny0wMy5wbmcgAAAAAQYAABAAAAAgAAAANAAAAEQAAABUAAAAYAAAAHQAAACEAAAACAAA
	AAQDAAD6NwAAAAAAAAAAAAABCgAAIAAAAAEGAADMAAAA3AAAANwAAADcAAAA3AAAANwA
	AADcAAAA3AAAAAgAAAAABAAAQb+u1CkAAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAA
	AAAAAAAAABwAAAABCQAAZmlsZTovLy9Wb2x1bWVzL0dvb2dsZURyaXZlLwgAAAAEAwAA
	AAAAgAcBAAAIAAAAAAQAAMHNJ+RAAAAAGAAAAAECAAABAAAAAAAAAO8TAAABAAAAAAAA
	AAAAAAAUAAAAAQEAAC9Wb2x1bWVzL0dvb2dsZURyaXZlCAAAAAEJAABmaWxlOi8vLwwA
	AAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAAGy7bAAAAAgAAAAABAAAQbqZ0AgAAAAk
	AAAAAQEAADE2OUE0QjdBLTgwQzUtMzQ0QS1BRjA2LUUwQzZBRjJDODI4NxgAAAABAgAA
	gQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAYAAAAP7///8A8AAAAAAA
	AAcAAAACIAAATAIAAAAAAAAFIAAAvAEAAAAAAAAQIAAAzAEAAAAAAAARIAAAAAIAAAAA
	AAASIAAA4AEAAAAAAAATIAAA8AEAAAAAAAAgIAAALAIAAAAAAAAEAAAAAwMAAADwAAAE
	AAAAAwMAAAAAAAAEAAAAAwMAAAEAAAAkAAAAAQYAAMACAADMAgAA2AIAAMwCAADMAgAA
	zAIAAMwCAADMAgAAzAIAAJwAAAD+////AQAAAFgCAAAMAAAABBAAAKQAAAAAAAAABRAA
	AOQAAAAAAAAAEBAAABwBAAAAAAAAQBAAAAwBAAAAAAAAACAAAOQCAAAAAAAAAiAAAKAB
	AAAAAAAABSAAADwBAAAAAAAAECAAACAAAAAAAAAAEiAAAGABAAAAAAAAEyAAAHABAAAA
	AAAAICAAAIABAAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Volumes/GoogleDrive/My Drive/website/blog/eclipse2017/images/ss2017-11-05_16-13-35.png</key>
	<data>
	Ym9va+gDAAAAAAQQMAAAABQWX8Cs7JfSNghtDu3X05Kgu4w7eSl1NRNi/+jxlBYDFAMA
	AAQAAAADAwAAAAgAKAcAAAABAQAAVm9sdW1lcwALAAAAAQEAAEdvb2dsZURyaXZlAAgA
	AAABAQAATXkgRHJpdmUHAAAAAQEAAHdlYnNpdGUABAAAAAEBAABibG9nCwAAAAEBAABl
	Y2xpcHNlMjAxNwAGAAAAAQEAAGltYWdlcwAAGQAAAAEBAABzczIwMTctMTEtMDVfMTYt
	MTMtMzUucG5nAAAAIAAAAAEGAAAQAAAAIAAAADQAAABEAAAAVAAAAGAAAAB0AAAAhAAA
	AAgAAAAEAwAA+jcAAAAAAAAAAAAAAQoAACAAAAABBgAA0AAAAOAAAADgAAAA4AAAAOAA
	AADgAAAA4AAAAOAAAAAIAAAAAAQAAEG/rtWHAAAAGAAAAAECAAABAAAAAAAAAA8AAAAA
	AAAAAAAAAAAAAAAcAAAAAQkAAGZpbGU6Ly8vVm9sdW1lcy9Hb29nbGVEcml2ZS8IAAAA
	BAMAAAAAAIAHAQAACAAAAAAEAADBzSfkQAAAABgAAAABAgAAAQAAAAAAAADvEwAAAQAA
	AAAAAAAAAAAAFAAAAAEBAAAvVm9sdW1lcy9Hb29nbGVEcml2ZQgAAAABCQAAZmlsZTov
	Ly8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAABsu2wAAAAIAAAAAAQAAEG6mdAI
	AAAAJAAAAAEBAAAxNjlBNEI3QS04MEM1LTM0NEEtQUYwNi1FMEM2QUYyQzgyODcYAAAA
	AQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAGAAAAD+////APAA
	AAAAAAAHAAAAAiAAAFACAAAAAAAABSAAAMABAAAAAAAAECAAANABAAAAAAAAESAAAAQC
	AAAAAAAAEiAAAOQBAAAAAAAAEyAAAPQBAAAAAAAAICAAADACAAAAAAAABAAAAAMDAAAA
	8AAABAAAAAMDAAAAAAAABAAAAAMDAAABAAAAJAAAAAEGAADEAgAA0AIAANwCAADQAgAA
	0AIAANACAADQAgAA0AIAANACAACcAAAA/v///wEAAABcAgAADAAAAAQQAACoAAAAAAAA
	AAUQAADoAAAAAAAAABAQAAAgAQAAAAAAAEAQAAAQAQAAAAAAAAAgAADoAgAAAAAAAAIg
	AACkAQAAAAAAAAUgAABAAQAAAAAAABAgAAAgAAAAAAAAABIgAABkAQAAAAAAABMgAAB0
	AQAAAAAAACAgAACEAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Volumes/GoogleDrive/My Drive/website/blog/eclipse2017/images/ss2017-11-05_16-34-01.png</key>
	<data>
	Ym9va+gDAAAAAAQQMAAAAFwBa8doVtGZbW5S2o/HdCHSJEu8Ejttpq4Zq9zwLBwPFAMA
	AAQAAAADAwAAAAgAKAcAAAABAQAAVm9sdW1lcwALAAAAAQEAAEdvb2dsZURyaXZlAAgA
	AAABAQAATXkgRHJpdmUHAAAAAQEAAHdlYnNpdGUABAAAAAEBAABibG9nCwAAAAEBAABl
	Y2xpcHNlMjAxNwAGAAAAAQEAAGltYWdlcwAAGQAAAAEBAABzczIwMTctMTEtMDVfMTYt
	MzQtMDEucG5nAAAAIAAAAAEGAAAQAAAAIAAAADQAAABEAAAAVAAAAGAAAAB0AAAAhAAA
	AAgAAAAEAwAA+jcAAAAAAAAAAAAAAQoAACAAAAABBgAA0AAAAOAAAADgAAAA4AAAAOAA
	AADgAAAA4AAAAOAAAAAIAAAAAAQAAEG/rtpRAAAAGAAAAAECAAABAAAAAAAAAA8AAAAA
	AAAAAAAAAAAAAAAcAAAAAQkAAGZpbGU6Ly8vVm9sdW1lcy9Hb29nbGVEcml2ZS8IAAAA
	BAMAAAAAAIAHAQAACAAAAAAEAADBzSfkQAAAABgAAAABAgAAAQAAAAAAAADvEwAAAQAA
	AAAAAAAAAAAAFAAAAAEBAAAvVm9sdW1lcy9Hb29nbGVEcml2ZQgAAAABCQAAZmlsZTov
	Ly8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAABsu2wAAAAIAAAAAAQAAEG6mdAI
	AAAAJAAAAAEBAAAxNjlBNEI3QS04MEM1LTM0NEEtQUYwNi1FMEM2QUYyQzgyODcYAAAA
	AQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAGAAAAD+////APAA
	AAAAAAAHAAAAAiAAAFACAAAAAAAABSAAAMABAAAAAAAAECAAANABAAAAAAAAESAAAAQC
	AAAAAAAAEiAAAOQBAAAAAAAAEyAAAPQBAAAAAAAAICAAADACAAAAAAAABAAAAAMDAAAA
	8AAABAAAAAMDAAAAAAAABAAAAAMDAAABAAAAJAAAAAEGAADEAgAA0AIAANwCAADQAgAA
	0AIAANACAADQAgAA0AIAANACAACcAAAA/v///wEAAABcAgAADAAAAAQQAACoAAAAAAAA
	AAUQAADoAAAAAAAAABAQAAAgAQAAAAAAAEAQAAAQAQAAAAAAAAAgAADoAgAAAAAAAAIg
	AACkAQAAAAAAAAUgAABAAQAAAAAAABAgAAAgAAAAAAAAABIgAABkAQAAAAAAABMgAAB0
	AQAAAAAAACAgAACEAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Volumes/GoogleDrive/My Drive/website/blog/eclipse2017/images/ss2017-11-05_16-36-23.png</key>
	<data>
	Ym9va+gDAAAAAAQQMAAAAMuOeqmz9V0kuLNCAeCCiJA2cdxwwb/y/T6wNKXBZyE8FAMA
	AAQAAAADAwAAAAgAKAcAAAABAQAAVm9sdW1lcwALAAAAAQEAAEdvb2dsZURyaXZlAAgA
	AAABAQAATXkgRHJpdmUHAAAAAQEAAHdlYnNpdGUABAAAAAEBAABibG9nCwAAAAEBAABl
	Y2xpcHNlMjAxNwAGAAAAAQEAAGltYWdlcwAAGQAAAAEBAABzczIwMTctMTEtMDVfMTYt
	MzYtMjMucG5nAAAAIAAAAAEGAAAQAAAAIAAAADQAAABEAAAAVAAAAGAAAAB0AAAAhAAA
	AAgAAAAEAwAA+jcAAAAAAAAAAAAAAQoAACAAAAABBgAA0AAAAOAAAADgAAAA4AAAAOAA
	AADgAAAA4AAAAOAAAAAIAAAAAAQAAEG/rtrbAAAAGAAAAAECAAABAAAAAAAAAA8AAAAA
	AAAAAAAAAAAAAAAcAAAAAQkAAGZpbGU6Ly8vVm9sdW1lcy9Hb29nbGVEcml2ZS8IAAAA
	BAMAAAAAAIAHAQAACAAAAAAEAADBzSfkQAAAABgAAAABAgAAAQAAAAAAAADvEwAAAQAA
	AAAAAAAAAAAAFAAAAAEBAAAvVm9sdW1lcy9Hb29nbGVEcml2ZQgAAAABCQAAZmlsZTov
	Ly8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAABsu2wAAAAIAAAAAAQAAEG6mdAI
	AAAAJAAAAAEBAAAxNjlBNEI3QS04MEM1LTM0NEEtQUYwNi1FMEM2QUYyQzgyODcYAAAA
	AQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAGAAAAD+////APAA
	AAAAAAAHAAAAAiAAAFACAAAAAAAABSAAAMABAAAAAAAAECAAANABAAAAAAAAESAAAAQC
	AAAAAAAAEiAAAOQBAAAAAAAAEyAAAPQBAAAAAAAAICAAADACAAAAAAAABAAAAAMDAAAA
	8AAABAAAAAMDAAAAAAAABAAAAAMDAAABAAAAJAAAAAEGAADEAgAA0AIAANwCAADQAgAA
	0AIAANACAADQAgAA0AIAANACAACcAAAA/v///wEAAABcAgAADAAAAAQQAACoAAAAAAAA
	AAUQAADoAAAAAAAAABAQAAAgAQAAAAAAAEAQAAAQAQAAAAAAAAAgAADoAgAAAAAAAAIg
	AACkAQAAAAAAAAUgAABAAQAAAAAAABAgAAAgAAAAAAAAABIgAABkAQAAAAAAABMgAAB0
	AQAAAAAAACAgAACEAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Volumes/GoogleDrive/My Drive/website/blog/eclipse2017/images/ss2017-11-05_16-39-03.png</key>
	<data>
	Ym9va+gDAAAAAAQQMAAAAEIgYCqZtH/lSfpRRLbB6wGMgjxOLfTz3mJMrQj1e1dNFAMA
	AAQAAAADAwAAAAgAKAcAAAABAQAAVm9sdW1lcwALAAAAAQEAAEdvb2dsZURyaXZlAAgA
	AAABAQAATXkgRHJpdmUHAAAAAQEAAHdlYnNpdGUABAAAAAEBAABibG9nCwAAAAEBAABl
	Y2xpcHNlMjAxNwAGAAAAAQEAAGltYWdlcwAAGQAAAAEBAABzczIwMTctMTEtMDVfMTYt
	MzktMDMucG5nAAAAIAAAAAEGAAAQAAAAIAAAADQAAABEAAAAVAAAAGAAAAB0AAAAhAAA
	AAgAAAAEAwAA+jcAAAAAAAAAAAAAAQoAACAAAAABBgAA0AAAAOAAAADgAAAA4AAAAOAA
	AADgAAAA4AAAAOAAAAAIAAAAAAQAAEG/rtt7AAAAGAAAAAECAAABAAAAAAAAAA8AAAAA
	AAAAAAAAAAAAAAAcAAAAAQkAAGZpbGU6Ly8vVm9sdW1lcy9Hb29nbGVEcml2ZS8IAAAA
	BAMAAAAAAIAHAQAACAAAAAAEAADBzSfkQAAAABgAAAABAgAAAQAAAAAAAADvEwAAAQAA
	AAAAAAAAAAAAFAAAAAEBAAAvVm9sdW1lcy9Hb29nbGVEcml2ZQgAAAABCQAAZmlsZTov
	Ly8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAABsu2wAAAAIAAAAAAQAAEG6mdAI
	AAAAJAAAAAEBAAAxNjlBNEI3QS04MEM1LTM0NEEtQUYwNi1FMEM2QUYyQzgyODcYAAAA
	AQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAGAAAAD+////APAA
	AAAAAAAHAAAAAiAAAFACAAAAAAAABSAAAMABAAAAAAAAECAAANABAAAAAAAAESAAAAQC
	AAAAAAAAEiAAAOQBAAAAAAAAEyAAAPQBAAAAAAAAICAAADACAAAAAAAABAAAAAMDAAAA
	8AAABAAAAAMDAAAAAAAABAAAAAMDAAABAAAAJAAAAAEGAADEAgAA0AIAANwCAADQAgAA
	0AIAANACAADQAgAA0AIAANACAACcAAAA/v///wEAAABcAgAADAAAAAQQAACoAAAAAAAA
	AAUQAADoAAAAAAAAABAQAAAgAQAAAAAAAEAQAAAQAQAAAAAAAAAgAADoAgAAAAAAAAIg
	AACkAQAAAAAAAAUgAABAAQAAAAAAABAgAAAgAAAAAAAAABIgAABkAQAAAAAAABMgAAB0
	AQAAAAAAACAgAACEAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Volumes/GoogleDrive/My Drive/website/blog/eclipse2017/images/ss2017-11-05_18-20-07.png</key>
	<data>
	Ym9va+gDAAAAAAQQMAAAAJOiJuNk/+YgXCNPzN5bO6rEsN0q0CpKYqJQDrTXpjbkFAMA
	AAQAAAADAwAAAAgAKAcAAAABAQAAVm9sdW1lcwALAAAAAQEAAEdvb2dsZURyaXZlAAgA
	AAABAQAATXkgRHJpdmUHAAAAAQEAAHdlYnNpdGUABAAAAAEBAABibG9nCwAAAAEBAABl
	Y2xpcHNlMjAxNwAGAAAAAQEAAGltYWdlcwAAGQAAAAEBAABzczIwMTctMTEtMDVfMTgt
	MjAtMDcucG5nAAAAIAAAAAEGAAAQAAAAIAAAADQAAABEAAAAVAAAAGAAAAB0AAAAhAAA
	AAgAAAAEAwAA+jcAAAAAAAAAAAAAAQoAACAAAAABBgAA0AAAAOAAAADgAAAA4AAAAOAA
	AADgAAAA4AAAAOAAAAAIAAAAAAQAAEG/rvMxAAAAGAAAAAECAAABAAAAAAAAAA8AAAAA
	AAAAAAAAAAAAAAAcAAAAAQkAAGZpbGU6Ly8vVm9sdW1lcy9Hb29nbGVEcml2ZS8IAAAA
	BAMAAAAAAIAHAQAACAAAAAAEAADBzSfkQAAAABgAAAABAgAAAQAAAAAAAADvEwAAAQAA
	AAAAAAAAAAAAFAAAAAEBAAAvVm9sdW1lcy9Hb29nbGVEcml2ZQgAAAABCQAAZmlsZTov
	Ly8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAABsu2wAAAAIAAAAAAQAAEG6mdAI
	AAAAJAAAAAEBAAAxNjlBNEI3QS04MEM1LTM0NEEtQUYwNi1FMEM2QUYyQzgyODcYAAAA
	AQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAGAAAAD+////APAA
	AAAAAAAHAAAAAiAAAFACAAAAAAAABSAAAMABAAAAAAAAECAAANABAAAAAAAAESAAAAQC
	AAAAAAAAEiAAAOQBAAAAAAAAEyAAAPQBAAAAAAAAICAAADACAAAAAAAABAAAAAMDAAAA
	8AAABAAAAAMDAAAAAAAABAAAAAMDAAABAAAAJAAAAAEGAADEAgAA0AIAANwCAADQAgAA
	0AIAANACAADQAgAA0AIAANACAACcAAAA/v///wEAAABcAgAADAAAAAQQAACoAAAAAAAA
	AAUQAADoAAAAAAAAABAQAAAgAQAAAAAAAEAQAAAQAQAAAAAAAAAgAADoAgAAAAAAAAIg
	AACkAQAAAAAAAAUgAABAAQAAAAAAABAgAAAgAAAAAAAAABIgAABkAQAAAAAAABMgAAB0
	AQAAAAAAACAgAACEAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
